# Rules for auto switching tuned power profile based on power status
# This should be placed in /etc/udev/rules.d/
#
# On AC Power
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Charging", RUN+="/usr/local/bin/switch_to_performance.sh"
# On battery but not yet low
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Discharging", ENV{POWER_SUPPLY_CAPACITY_LEVEL}=="Normal", RUN+="/usr/local/bin/switch_to_balanced.sh"
# On low battery
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Discharging", ENV{POWER_SUPPLY_CAPACITY_LEVEL}=="Low", RUN+="/usr/local/bin/switch_to_powersave.sh"
# On critically-low battery
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Discharging", ENV{POWER_SUPPLY_CAPACITY_LEVEL}=="Critical", RUN+="/usr/local/bin/switch_to_powersave.sh"
