;;;;
; npm userconfig file: /home/olaolu/.npmrc
; this is a simple ini-formatted file
; lines that start with semi-colons are comments
; run `npm help 7 config` for documentation of the various options
;
; Configs like `@scope:registry` map a scope to a given registry url.
;
; Configs like `//<hostname>/:_authToken` are auth that is restricted
; to the registry host specified.

editor=code
init.author.email=jomeemustapha@gmail.com
init.author.name=Olaoluwa Mustapha

;;;;
; all available options shown below with default values
;;;;


; access=null
; all=false
; allow-same-version=false
; also=null
; always-auth=false
; audit=true
; audit-level=null
; _auth=null
; auth-type=legacy
; before=null
; bin-links=true
; browser=null
; ca=null
; cache=~/.npm
; cache-lock-retries=10
; cache-lock-stale=60000
; cache-lock-wait=10000
; cache-max=null
; cache-min=10
; cafile=null
; call=
; cert=null
; ci-name=null
; cidr=null
; color=true
; commit-hooks=true
; depth=null
; description=true
; dev=false
; dry-run=false
; editor=vi
; engine-strict=false
; fetch-retries=2
; fetch-retry-factor=10
; fetch-retry-maxtimeout=60000
; fetch-retry-mintimeout=10000
; fetch-timeout=300000
; force=false
; format-package-lock=true
; fund=true
; git=git
; git-tag-version=true
; global=false
; global-style=false
; heading=npm
; https-proxy=null
; if-present=false
; ignore-prepublish=false
; ignore-scripts=false
;
; include-staged=false
; init-author-email=
; init-author-name=
; init-author-url=
; init-license=ISC
; init-module=~/.npm-init.js
; init-version=1.0.0
; init.author.email=
; init.author.name=
; init.author.url=
; init.license=ISC
; init.module=~/.npm-init.js
; init.version=1.0.0
; json=false
; key=null
; legacy-bundling=false
; legacy-peer-deps=false
; link=false
; local-address=undefined
; loglevel=notice
; logs-max=10
; long=false
; maxsockets=50
; message=%s
; metrics-registry=null
; node-options=null
; node-version=v15.3.0
; noproxy=null
; npm-version=7.0.15
; offline=false
;
; only=null
; optional=true
; otp=null
;
; package-lock=true
; package-lock-only=false
; parseable=false
; prefer-offline=false
; prefer-online=false
; preid=
; production=false
; progress=true
; proxy=null
; read-only=false
; rebuild-bundle=true
; registry=https://registry.npmjs.org/
; rollback=true
; save=true
; save-bundle=false
; save-dev=false
; save-exact=false
; save-optional=false
; save-prefix=^
; save-prod=false
; scope=
; script-shell=null
; scripts-prepend-node-path=warn-only
; searchexclude=null
; searchlimit=20
; searchopts=
; searchstaleness=900
; send-metrics=false
; shell=/usr/bin/zsh
; shrinkwrap=true
; sign-git-commit=false
; sign-git-tag=false
; sso-poll-frequency=500
; sso-type=oauth
; strict-peer-deps=false
; strict-ssl=true
; tag=latest
; tag-version-prefix=v
; timing=false
; tmp=/tmp
; umask=18
; unicode=true
; update-notifier=true
; usage=false
; user-agent=npm/{npm-version} node/{node-version} {platform} {arch} {ci}
; userconfig=~/.npmrc
; version=false
; versions=false
; viewer=man
